a {
  font-size: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


button {
  margin-right: 5%;
  margin-top: 10%;
}

nav {
  display: flex;
  margin-right: 12%;
}

h1 {
  color: #F9F9F9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.5;
  padding: 20% 0 5% 0;
}

h3 {
  font-weight: 500;
  padding: 4% 0 1% 0;
}

li {
  padding: 5% 8%;
}

p {
  padding: 0 20%;
  color: grey;
}




.container-fluid {
  font-family: 'Ubuntu', sans-serif;
  padding: 3% 15%;
  background-color: #ff4c68;

}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-link {
  font-size: 1.1rem;
  font-family: "Montserrat";
  color: #C8C2BC;
}

.phone {
  transform: rotate(25deg) scale(0.9);
  margin-top: 5%;
  position:relative;
  bottom: 2%;
  left: 7%;
}

.fas {
  font-size: 4rem;
  color: #EF8172;
}
  .fas:hover {
  color: #FF4D69;
  }

.featurelist {
 margin: 10% 8%;
 padding: 20px;

}
