a {
  font-size: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {

}

button {
  margin-right: 5%;
  margin-top: 10%;
}

nav {
  display: flex;
  padding-right: 12%;
}

h1 {
  color: #F9F9F9;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.5;
  padding: 20% 0 5% 0;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

h3 {
  font-weight: 500;
  padding: 4% 0 1% 0;
}

li {
  padding: 5% 8%;
}

p {
  color: grey;
}

em {
  color: white;
}

.container-fluid {
  font-family: 'Ubuntu', sans-serif;
  padding: 3% 15% 8%;
  background-color: #ff4c68;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-link {
  font-size: 1.1rem;
  font-family: "Montserrat";
  color: #C8C2BC;
}

.phone {
  transform: rotate(25deg) scale(0.8);
  padding-top: 5%;
  position: absolute;
  right: 15%;
}

@media  (max-width: 1180px) {
  .phone {
    position: relative;
    left: 16%;
    transform: rotate(0) scale(0.8);
  }
}

@media (max-width: 993px) {
  .phone {
    position: static;
    margin: auto;
  transform: scale(0.7);
  }

  #title {
    text-align: center;
  }
}

.fas {
  font-size: 4rem;
  color: #EF8172;
}

.fas:hover {
  color: #FF4D69;
}

#features {
  position: relative;
  background-color: white;
  padding: 10%;
}

.featurelist {
  padding: 20px;
}

.features-text {
  padding: 0 20%;
}


/* Testimonial Section */

#testimonials {
  background-color: #ff4c68;
}

.testimonial-text {
  color: white;
  font-weight: bold;
  line-height: 3.3rem;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 4%;
}

.carousel-item {
  padding: 5% 25%;
}


/* Press Section */

#press {
  background-color: #ff4c68;
}

.press-images {
  width: 11%;
  margin: 0 2% 3% 2%;
}


/* Pricing Section */

.pricing-title {
  padding: 5%;
}

.card-section {
  padding: 0 2% 2%;
}


/* Call To Action */

#cta {
  background-color: #ff4c68;
  padding: 10%;
}

.cta-text {
  color: white;
  font-weight: bolder;
}

.cta-button {
  margin: 60px 10px 0 ;
}


/* Footer */

#footer {
  padding: 5%;
}

.footer-text {
  margin: 0;
}

.social-links {
  padding: 1.5% 1%;
}
